.amiya-animation {
    width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: 2px solid transparent;
}

.amiya-animation:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

body {
   margin: 0;
   overflow: hidden;
   background: transparent;
}

#videoObj {
    position: absolute;
    top: 0;
    left: 50px;
    cursor: grab;
}

