.character-item {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.character-item img {
    width: 150px;
    height: auto;
    border-radius: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.character-item:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.character-item:active {
    transform: scale(0.95);
}